## Utilizando Pandas no Web Scraping

#### Pandas é uma biblioteca voltada para manipulação de dados em formato tabular, mas que pode ajudar em algumas situações de web scraping

### Método read_html()

- #### Acessa uma página determinada 
- #### Encontra todos objetos do tipo table
- #### Converte em dataframes pandas

### Exemplo

https://webscraper.io/test-sites/tables/tables-semantically-correct

In [1]:
import pandas as pd

dfs = pd.read_html("https://webscraper.io/test-sites/tables/tables-semantically-correct")

In [3]:
dfs[0]

   # First Name Last Name  Username
0  1       Mark      Otto      @mdo
1  2      Jacob  Thornton      @fat
2  3      Larry  the Bird  @twitter

In [4]:
dfs[1]

   # First Name Last Name  Username
0  4      Harry    Potter       @hp
1  5       John      Snow    @dunno
2  6        Tim      Bean  @timbean

In [5]:
dfs[0].describe()

         #
count  3.0
mean   2.0
std    1.0
min    1.0
25%    1.5
50%    2.0
75%    2.5
max    3.0